@CHARSET "UTF-8";

html {
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	color: #393939;
	font-family: "Segoe UI", Verdana, Tahoma, serif;
	font-size: 13px;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-size: 13px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	
}

#top {
	padding: 16px;	
}

#top .title {
	font-size: 20px;
	height: 32px;
	line-height: 32px;
}

#top .ctrl {
	float: right;
	height: 32px;
	line-height: 32px;
}

#top a {
	color: #666;
	margin-left: 8px;
}

#content {
	padding: 0px 16px 6px;
}

ul.msg {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.msg li {
	background: #efefef;
	margin-bottom: 12px;
	padding: 12px;
}

ul.msg li.spam {
	background: #b00;
	color: #fff;
}

ul.msg li.normal {
	background: #0b0;
	color: #fff;
}

ul.msg .ctrl {
	float: right;
}

ul.msg .content {
	display: block;
	margin-right: 60px;
	font-size: 15px;
}

ul.msg .cut {
	background: url("images/cut.png") no-repeat center center;
	display: inline-block;
	width: 20px;
	height: 20px;
}

ul.msg .del {
	background: url("images/del.png") no-repeat center center;
	display: inline-block;
	width: 20px;
	height: 20px;
}

ul.err {
	background: #ffe5e5;
	border: 1px solid #c00;
	color: #a00;
	list-style: none;
	padding: 12px;
	margin: 6px 0 16px;
}

.form .label {
	font-size: 14px;
	font-weight: bold;	
}

.form .row {
	margin-bottom: 10px;
}

.form .submit {
	width: 120px;
	height: 36px;
	margin: 0;
	padding: 0;
}

.msg_content_txt {
	display: block;
	width: 882px;
	margin-top: 6px;	
}

.seg {
	margin-bottom: 16px;
}

.seg h3 {
	margin-bottom: 6px;
}

.wrapper {
	background: #fff;
	border-left: 5px solid #ddd;
	border-right: 5px solid #ddd;
	width: 920px;
	margin: 0 auto;
}